:root {
    --main-color: #b22222;
    --secondary-color: lightblue;
}

* {
    box-sizing: border-box;    
    margin: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #b22222;
}

header {
    padding: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    background-color:#daa520;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    width: 100%;
    align-items: center;
      
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--main-color);
    background-color: var(--secondary-color);
    width: auto;
    padding: 5px;


}

header a {
    text-decoration: none;
    color: var(--main-color);

}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration-line: underline;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0,0,0 0.5);
}

header nav ul li a:hover {
    background-color: var(--secondary-color);
    color: red;
    border-radius: 15px;
    text-shadow: none;
}

.subtitle {
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    background-image: url("../images/IMG_0372.JPG");
    background-size: cover;
    width: 100%;
    margin: o;
    padding: 0;
    border: 2 px, solid;
    height: 600px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    flex-direction: column;
    align-self: flex-end;
    
}

.subtitle h3 {  
    font-size: 26px;
    background-color: var(--secondary-color);
    padding: 5px;
    width: 550px;
   
}

.about-me {
    display: flex;
    justify-content: space-between;
    height: 150px;
    padding: 10px;
    width: 100%;
    line-height: 1.5vw;  
}

.about-me h2 {
    display: flex;
    align-self: flex-end;
    text-align: right;
   


}

.main {
    margin-left: 15%;
  

}

.about-me p {
    margin-right: 26%;

}

#work nav ul li a:hover {
    background-color: var(--secondary-color);    
    border-radius: 15px;
    text-shadow: none;
    padding: 5px;
    width: 100px;
    display: flex;
}

.first-image {
    width: 80%;
    border-radius: 10px;
    border: 2px solid var(--secondary-color);
    font-size: 20px;
    min-height: 400px;
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 10px;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
}



.flex-container {
    align-items: stretch;
    margin-left: 20%;
    margin-right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-item:nth-child(1) {
    border: 2px solid var(--secondary-color);
    border-radius: 10px;   
    width: 45%;
    margin: 0 10px 10px 0;
    min-height: 250px;
    background-image: url("../images/search-engine-optimization.jpg");
    background-size: cover; 
}

.flex-item:nth-child(2) {
    border: 2px solid var(--secondary-color);
    border-radius: 10px;   
    width: 45%;
    margin: 0 0 10px 10px;
    min-height: 250px;
    background-image: url("../images/20190610_145931.jpg");
    background-size: cover;    
}

.flex-item:nth-child(3) {
    border: 2px solid var(--secondary-color);
    border-radius: 10px;   
    width: 45%;
    margin: 0 10px 10px 0;
    min-height: 250px;
    background-image: url("../images/20190610_145918.jpg");
    background-size: cover;
}

.flex-item:nth-child(4) {
    border: 2px solid var(--secondary-color);
    border-radius: 10px;   
    width: 45%;
    margin: 0 0 10px 10px;
    min-height: 250ox;
    background-image: url("../images/IMG_0334.JPG");
    background-size: cover;
}

footer {
    margin: 0;
    padding: 40px 35px;
    background-color:#daa520;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    
}

footer h5 {
    color: red;
    font-size: 30px;
    margin: 0;
}

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }


    header h1 {
        width: 100%;
        text-align: center;
    }
}